<html>
  <body>
    <form method="post" action="/new">
      <div>
        <label for="textUser">Name</label>
        <input name="textUser" type="text">
      </div>
      <div>
        <label for="textMessage">Message</label>
        <input name="textMessage" type="text">
      </div>      
      <button type="submit">Submit</button>
    </form>
  </body>
</html>