<html>
  <body>
    <div>
      <div>Message author</div>
      <div><%= message.user %></div>
    </div>
    <div>
      <div>Message text</div>
      <div><%= message.text %></div>
    </div>
    <div>
      <div>Message date added</div>
      <div><%= message.added %></div>
    </div>
  </body>
</html>