<html>
  <body>
    <div>
      <div>Message author</div>
      <!-- <div><%= message.username %></div> -->
    </div>
    <div>
      <div>Message text</div>
      <div><%= message.message %></div>
    </div>
    <div>
      <div>Message date added</div>
      <div><%= message.added %></div>
    </div>
  </body>
</html>